<div class="cont s-t-p s-b-p">
  <%= form_with url: urls_url, method: :post, data: {turbo: false} do |form| %>
    <%= form.label :full_url, "Введите полный url, который вы хотите сократить:", class:"main-title t-black" %>
    <%= form.text_field :full_url, class: "w-40" %>
    <%= form.submit "Сократить", class: "button button-red" %>
  <% end %>
</div>

<% if flash[:url_m].present? %>
  <div class="cont s-t-p s-b-p m-t-m">
      <% if flash[:info_m].present? %>
        <p class="main-title t-black m-b-m"><%= flash[:info_m] %></p>
      <% end %>
      <p class="main-title t-black">
        Url создан: <a class="m-r-20 s-l-m" href=<%= flash[:url_m] %> class="s-title"><%= flash[:url_m] %></a>
      </p>
  </div>
<% end %>

<% if flash[:error_m].present? %>
  <div class="cont s-t-p s-b-p m-t-m">
      <p class="main-title t-red"><%= flash[:error_m] %></p>
  </div>
<% end %>
